

body{
    font-family: 'Source Serif Pro', serif;
    background-image: url(../images/Z_1.jpg);
    background-position: center center;


    background-repeat: no-repeat;

    
    background-attachment: fixed;


    background-size: cover;
    background-color: wheat;
}

.cont_1{
    background-image: url(../images/Z_2.jpg);
    background-color:floralwhite;
    height: 720px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont_2{
    height: 700px;

}